@using BuildSecureSystems.Models;
@using BuildSecureSystems.Framework.Encryption;
@{
    ViewBag.Title = "User Details";

	var user = (ApplicationUser)ViewBag.Model;
}
<h2>@ViewBag.Title</h2>

<p>
	User <b>@user.UserName</b> has a SSN of <b>@user.SSN</b>
</p>
