@{
	ViewBag.Title = "Security Audit Area";

	var controllerAudit = (List<ControllerEndpointAuditItem>)ViewBag.ControllerEndpoints;
}

<style type="text/css">
	span.false { color: red; }
	span.no-perm { color: red; }
</style>

<header>
	<h2>@ViewBag.Title</h2>
</header>

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Demonstrates an MVC endpoint analysis conducted using Reflection</li>
		</ul>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Path</th>
			<th>Requires Authentication?</th>
			<th>Requires Permission</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var row in controllerAudit) {
			<tr>
				<td>@Html.ActionLink($"{row.Controller}/{row.Action}", row.Action, row.Controller)
				<td>@FormatBoolean(row.RequiresAuthentication)</td>
				<td>@FormatRequiredPerm(row.RequiresPermission)</td>
			</tr>
			}
	</tbody>
</table>

@functions {

	public static IHtmlString FormatBoolean(bool val) {
		return new HtmlString($"<span class=\"{val.ToString().ToLower()}\">{val.ToString()}</span>");
	}

	public static IHtmlString FormatRequiredPerm(PermissionEnum? perm) {
		return new HtmlString($"<span class=\"{perm.ToStringNullSafe("no-perm").ToLower()}\">{perm.ToStringNullSafe("None")}</span>");
	}
}