@{
	ViewBag.Title = "Secure Framework Demo - Home";
}

<div class="jumbotron">
	<h1>Secure Framework Demo</h1>
	<p>
		This demo shows a simple set of features where the security concerns are all handled in framework code, leaving
		the app code free to deal with functional requirements.
	</p>
	<p>Compare the code in the <b>SecureFrameworkController</b> and related views to the other controllers.</p>
	<p><a class="btn btn-default" href="@Url.Action("OrderList", "SecureFramework")">Begin &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Anonymous Access</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-4">
		<h2>Page Authorization</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-4">
		<h2>Access Control</h2>
		<p>
			TODO
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Sensitive Data</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-4">
		<h2>Encryption</h2>
		<p>
			TODO
		</p>
	</div>
	<div class="col-md-4">
		<h2>Anti-CSRF</h2>
		<p>
			TODO
		</p>
	</div>
</div>