@{
	ViewBag.Title = "Manage Orders - Secure Framework";
}

@Html.Partial("_IntraDemoNav", "ManageOrders")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Uses a permission attribute to enforce the requirement that users have the <b>ManageOrders</b> permission</li>
		</ul>
	</div>
</div>

