@{
    ViewBag.Title = "Order Details";
}
<h2>@ViewBag.Title</h2>

<p>
	Order <b>@ViewBag.Model.Id</b> was placed on <b>@ViewBag.Model.PlacedOn</b> by <b>@ViewBag.Model.ApplicationUser.UserName</b>
</p>

