@{
    ViewBag.Title = "Insecure Demo - Home";
}

<div class="jumbotron">
    <h1>Insecure Features Demo</h1>
	<p>This demo shows a simple set of features with no security at all. &lt;gasp&gt;</p>
	<p>Compare the code in the <b>InsecureController</b> and related views to the other controllers.</p>
	<p><a class="btn btn-default" href="@Url.Action("OrderList", "Insecure")">Begin &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Anonymous Access</h2>
		<p>
			Nothing prevents anonymous users from getting to "private" pages.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Page Authorization</h2>
		<p>
			Permission requirements for specific pages are not enforced. 
		</p>
	</div>
	<div class="col-md-4">
		<h2>Access Control</h2>
		<p>
			Nothing prevents one user from viewing another user's data.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Sensitive Data</h2>
		<p>
			User SSNs are not protected in any way.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Encryption</h2>
		<p>
			(TODO) Credit card numbers are stored in plain text in the database.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Anti-CSRF</h2>
		<p>
			Nothing prevents CSRF. Use the CSRF Attacker app (separate proj in this repo) to attack
			this website.
		</p>
	</div>
</div>