@{
    ViewBag.Title = "Manage Orders - Insecure";
}

@Html.Partial("_IntraDemoNav", "ManageOrders")

<div class="panel panel-default">
	<div class="panel-body">
		This page:
		<ul>
			<li>Allows anonymous access</li>
			<li>Does not enforce the requirement that users have the <b>ManageOrders</b> permission</li>
		</ul>
	</div>
</div>

