<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Talk-BuildSecureSystems-MVC-20161204103456.mdf;Initial Catalog=aspnet-Talk-BuildSecureSystems-MVC-20161204103456;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
